Repository cathaysia/finalgit: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

.pre-commit-config.yaml:

# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-format
      additional_dependencies: ["@biomejs/biome@1.8.3"]
    - id: biome-lint
      additional_dependencies: ["@biomejs/biome@1.8.3"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt --edition 2021

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

feat(f): better bisect menu
  src/app/main/page.tsx
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/atoms/CommitItem.tsx
  src/stories/atoms/UserAvatar.tsx
Due: none

fix(vlist): fix card be override problem
  src/stories/atoms/VirtualScrollArea.tsx
Due: none

fix: typo
  src/locales/zh_CN/translation.json
Due: none

fix(dep): move swc plugin to dev dependcies
  package.json
  pnpm-lock.yaml
Due: none

feat(f): add bisecting spinner
  src/app/main/page.tsx
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/atoms/CommitItem.tsx
Due: none

refactor: remove unused dependcies
  package.json
  pnpm-lock.yaml
  src/components/ui/form.tsx
  vite.config.ts
Due: none

feat(ai): allow pull ollama
  .storybook/i18n.tsx
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/components/ui/progress.tsx
  src/lib/ai/index.ts
  src/lib/ai/ollama.ts
  src/stories/settings/AiCard.stories.tsx
  src/stories/settings/AiCard.tsx
Due: none

feat(i18n): update translation
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/atoms/Project.tsx
Due: none

fix: fix build problem
  src/stories/settings/AiCard.tsx
Due: none

feat(f): better bisect
  src-tauri/bindings/index.ts
  src-tauri/src/bisect.rs
  src/app/main/page.tsx
  src/hooks/bisect.ts
  src/hooks/query.ts
  src/stories/atoms/CommitItem.tsx
  src/stories/card/RebaseCard.tsx
  src/stories/lists/CommitList.tsx
Due: rustfmt

fix(query): fix useBisect hook
  src/hooks/bisect.ts
Due: none

fix(f): fix read cmdline args
  src/app/__root.tsx
Due: none

feat(bisect): auto scroll to next
  src/app/__root.tsx
  src/stories/atoms/CommitItem.stories.tsx
  src/stories/lists/CommitList.tsx
Due: none

fix(projects): fix projects
  src/app/__root.tsx
  src/app/diff/layout.tsx
  src/app/diff/page.tsx
  src/app/main/page.tsx
  src/hooks/state.ts
  src/routeTree.gen.ts
  src/stories/atoms/ChangeItem.tsx
  src/stories/atoms/Project.stories.tsx
  src/stories/atoms/Project.tsx
  src/stories/panels/WorkspacePanel.tsx
  src/stories/settings/GitUser.tsx
Due: none

feat: add some anmiate
  src/app/main/page.tsx
  src/stories/panels/BranchPanel.tsx
Due: none

refactor: better project structure
  src/app/filetree/$commit.tsx
  src/app/main/page.tsx
  src/stories/bisect/bisect-card.tsx
  src/stories/branch/barnch-panel.tsx
  src/stories/branch/branch-item.stories.tsx
  src/stories/branch/branch-item.tsx
  src/stories/branch/branch-list.stories.tsx
  src/stories/branch/branch-list.tsx
  src/stories/branch/branch-panel.stories.tsx
  src/stories/branch/branch-rename.stories.tsx
  src/stories/branch/branch-rename.tsx
  src/stories/change/change-item.tsx
  src/stories/change/change-list.stories.tsx
  src/stories/change/change-list.tsx
  src/stories/codemirror/blame/blame-card.stories.tsx
  src/stories/codemirror/blame/blame-card.tsx
  src/stories/codemirror/blame/index.tsx
  src/stories/codemirror/bool-checkbox.tsx
  src/stories/commit/commit-item.stories.tsx
  src/stories/commit/commit-item.tsx
  src/stories/commit/commit-list.tsx
  src/stories/panels/control-panel.tsx
  src/stories/panels/workspace-panel.stories.tsx
  src/stories/panels/workspace-panel.tsx
  src/stories/stash/stash-card.tsx
  src/stories/stash/stash-item.stories.tsx
  src/stories/stash/stash-item.tsx
  src/stories/stash/stash-list.stories.tsx
  src/stories/stash/stash-list.tsx
  src/stories/tag/tag-list.stories.tsx
  src/stories/tag/tag-list.tsx
  src/stories/tag/tagitem.stories.tsx
  src/stories/tag/tagitem.tsx
Due: none

feat: update storybook
  .storybook/i18n.tsx
  .storybook/main.ts
  .storybook/preview.tsx
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/routeTree.gen.ts
  tsconfig.json
  vite.config.ts
Due: none

feat(f): allow stop bisect in island
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/bisect/bisect-card.tsx
  src/stories/commit/commit-item.tsx
Due: none

feat(rebase): show rebase status
  src-tauri/src/rebase.rs
  src/app/main/page.tsx
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/rebase/rebase-card.tsx
Due: rustfmt

fix(f): don't checkout when click commit
  src/stories/commit/commit-item.tsx
Due: none

feat: disable unimplement function, disable select
  index.html
  src/app/settings/page.tsx
  src/stories/atoms/fileitem.tsx
  src/stories/atoms/highlight-label.tsx
  src/stories/branch/branch-item.tsx
  src/stories/commit/commit-item.tsx
  src/stories/panels/workspace-panel.tsx
  src/stories/tag/tagitem.tsx
Due: none

fix(rebase): disable rebase --continue
  src/stories/rebase/rebase-card.tsx
Due: none

feat(branch): hidden pull/push for remote branch
  src/stories/branch/branch-item.tsx
Due: none

feat(branch): show upstream, only show push for checked branch
  src/stories/branch/branch-item.tsx
Due: none

feat(rs): reenable window-state
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: rustfmt, toml

feat(commit): show commit card
  src/stories/codemirror/blame/blame-card.tsx
  src/stories/commit/commit-card.stories.tsx
  src/stories/commit/commit-card.tsx
  src/stories/commit/commit-item.tsx
  src/stories/commit/commit-list.tsx
Due: none

feat(b): add pull branch
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/ty.rs
Due: rustfmt

feat(f): add pull
  src/stories/branch/branch-item.tsx
Due: none

perf(b): pull with async
  src-tauri/src/branch.rs
  src-tauri/tauri_derive/src/lib.rs
Due: rustfmt

perf(b): async get_file_tree
  src-tauri/src/branch.rs
Due: rustfmt

feat: add pushBranch
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src/stories/branch/branch-item.tsx
Due: rustfmt

feat(b): show error, redirect git stdin to null
  src-tauri/src/branch.rs
Due: rustfmt

feat(f): break-all for highlight label
  src/stories/atoms/highlight-label.tsx
  src/stories/atoms/project.tsx
Due: none

feat: disable clone repository dropdown item on project component
  src/stories/atoms/project.tsx
Due: none

refactor: replace tailwindcss-animate with tailwindcss-motion
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: none

refactor(commit): better commit card
  src-tauri/bindings/index.ts
  src-tauri/src/commit.rs
  src-tauri/src/ty.rs
  src/lib/parser/commit-filter.test.ts
  src/stories/atoms/user-avatar.tsx
  src/stories/codemirror/blame/blame-card.tsx
  src/stories/commit/commit-card.stories.tsx
  src/stories/commit/commit-card.tsx
  src/stories/commit/commit-item.stories.tsx
Due: rustfmt

feat(commit): render commit as markdown
  package.json
  pnpm-lock.yaml
  src/stories/commit/commit-card.tsx
  tailwind.config.ts
Due: none

feat(commit-card): render issue url
  src-tauri/Cargo.toml
  src-tauri/bindings/index.ts
  src-tauri/capabilities/default.json
  src-tauri/src/branch.rs
  src/hooks/query.ts
  src/stories/commit/commit-card.tsx
Due: rustfmt, toml
