Repository cathaysia/finalgit: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

.pre-commit-config.yaml:

# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-format
      additional_dependencies: ["@biomejs/biome@1.8.3"]
    - id: biome-lint
      additional_dependencies: ["@biomejs/biome@1.8.3"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt --edition 2021

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

feat(commit-card): store renderMarkdown as appstate
  src/hooks/state.ts
  src/stories/commit/commit-card.tsx
Due: none

feat(change-list): hidden change count if empty
  src/stories/panels/workspace-panel.tsx
Due: none

feat(f): add remote op
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/lib.rs
  src-tauri/src/remote.rs
  src/stories/branch/branch-item.tsx
Due: rustfmt

refactor: add collapse group
  src/components/ext/collapse-group.stories.tsx
  src/components/ext/collapse-group.tsx
  src/stories/branch/branch-item.tsx
  src/stories/commit/commit-item.tsx
Due: none

refactor(f): add avatargroup
  src/components/ext/avatar-group.tsx
  src/stories/atoms/user-avatar.stories.tsx
  src/stories/atoms/user-avatar.tsx
  src/stories/commit/commit-card.tsx
  src/stories/commit/commit-item.tsx
Due: none

feat(i18n): update translation
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
Due: none

feat(f): only refresh commit list when checkout
  src/app/main/page.tsx
  src/hooks/state.ts
  src/lib/operator.ts
  src/stories/branch/branch-item.tsx
Due: none

fix(lsp): fix twcss lsp problem
  package.json
  pnpm-lock.yaml
Due: none

fix(push): fix push
  src-tauri/src/branch.rs
Due: rustfmt

feat(f): add statistics card
  package.json
  pnpm-lock.yaml
  src-tauri/bindings/index.ts
  src-tauri/src/lib.rs
  src-tauri/src/statistics.rs
  src/hooks/query.ts
  src/stories/commit/commit-item.tsx
  src/stories/commit/hover-avatar.tsx
Due: rustfmt

fix(commit): fix commit refresh problem
  src/app/main/page.tsx
Due: none

feat(codemirror): remove boolbox
  src/app/filetree/$commit.tsx
  src/stories/codemirror/bool-checkbox.tsx
Due: none

fix(f): fix stash overflow
  src/app.tsx
  src/app/main/page.tsx
  src/stories/change/change-item.tsx
  src/stories/change/change-list.tsx
  src/stories/panels/control-panel.tsx
  src/stories/panels/main-panel.tsx
  src/stories/panels/workspace-panel.tsx
Due: none

fix(b): fix submodule problem
  src-tauri/src/branch.rs
  src/hooks/state.ts
Due: rustfmt

feat(commit): auto refresh stage
  src/app/main/page.tsx
  src/hooks/query.ts
  src/stories/panels/workspace-panel.tsx
Due: none

feat(f): add push/pull status
  src/hooks/query.ts
  src/stories/branch/branch-item.tsx
Due: none

feat: enable strict mode
  src/app.tsx
Due: none

fix(heatmap): fix tooltip
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/ext/tooltip.tsx
  src/stories/commit/hover-avatar.tsx
Due: none

feat: add heatmap
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/statistics.rs
  src-tauri/src/ty.rs
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/commit/commit-item.tsx
  src/stories/commit/hover-avatar.tsx
Due: rustfmt, toml

fix(committer): fix start commit
  src/stories/atoms/commiter.tsx
Due: none

feat(f): show tag in branch and commit
  package.json
  pnpm-lock.yaml
  src/components/ui/tooltip.tsx
  src/stories/branch/branch-item.tsx
  src/stories/commit/commit-item.tsx
Due: none

feat: Add link to conventional and gitmoji documentation in AI prompt settings
  src/stories/settings/ai-prompt.tsx
Due: none

fix(b): fix warning
  src-tauri/src/statistics.rs
Due: rustfmt

feat(commiit): align avatar
  src/stories/commit/commit-item.tsx
Due: none

feat: Update query keys and add refresh functionalit
  src/hooks/query.ts
  src/lib/ai/index.ts
  src/stories/atoms/commiter.tsx
  src/stories/branch/branch-item.tsx
Due: none

feat: add abort signal to generateCommit and Commiter
  src/lib/ai/index.ts
  src/stories/atoms/commiter.tsx
Due: none

feat: Ensure ollamaCurrentModel is always a string and reset commit message on repo path change.
  src/hooks/state.ts
  src/stories/atoms/commiter.tsx
Due: none

feat(lib/ai): Update generateText to streamText and add onGenering callback
  src/lib/ai/index.ts
  src/stories/atoms/commiter.tsx
Due: none

feat: update commiter to refresh history on successful commit
  src/hooks/query.ts
  src/stories/atoms/commiter.tsx
Due: none

feat: rename commit to oid
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/ty.rs
  src/app/main/page.tsx
  src/stories/branch/branch-item.stories.tsx
  src/stories/branch/branch-item.tsx
  src/stories/branch/branch-list.stories.tsx
  src/stories/commit/commit-item.tsx
  src/stories/tag/tag-list.stories.tsx
  src/stories/tag/tagitem.stories.tsx
  src/stories/tag/tagitem.tsx
Due: rustfmt

feat: Update translation.json files to reflect changes in commit flow and terminology.
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
Due: none

fix(b): fix get unpush status
  src-tauri/src/branch.rs
  src-tauri/src/error.rs
Due: rustfmt

feat(settings): add signoff feature and display in profile settings page
  src/app/settings/page.tsx
  src/hooks/state.ts
  src/stories/atoms/commiter.tsx
Due: none

feat(query): Remove refreshHeadOid from refreshHistory and update commiter to use setCommitHead
  src/hooks/query.ts
  src/stories/atoms/commiter.tsx
Due: none

feat: enhance commiter and project atoms with improved text rendering
  src/stories/atoms/commiter.tsx
  src/stories/atoms/project.tsx
Due: none

feat: update commiter component to use changes hook and handle empty changes list
  src/stories/atoms/commiter.tsx
Due: none

feat(commiter): using autosize-textarea
  src/components/ext/autosize-textarea.tsx
  src/stories/atoms/commiter.tsx
Due: none

fix(filetree): fix filetree
  src/app/filetree/$commit.tsx
  src/hooks/query.ts
  src/stories/panels/workspace-panel.tsx
Due: none

feat: enable cherrypick option in commit dropdown menu
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/commit/commit-item.tsx
Due: none

feat: refactor workspace panel to handle push and pull actions
  src/stories/panels/workspace-panel.tsx
Due: none
