Repository cathaysia/finalgit: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

.pre-commit-config.yaml:

# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-format
      additional_dependencies: ["@biomejs/biome@1.8.3"]
    - id: biome-lint
      additional_dependencies: ["@biomejs/biome@1.8.3"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt --edition 2021

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

feat: better commit item
  messages/cn.json
  src/ui/commit/commit-item.tsx
Due: none

feat(codemirror): force gutter width
  src/assets/codemirror.css
Due: none

feat: remove custom controlbar for linux and windows
  src/app/[locale]/main/ui/controlbar.tsx
Due: none

fix: fix build problem
  src/ui/codemirror/blame/blame-card.tsx
Due: none

feat(history): better history
  src/app/[locale]/main/@history/page.tsx
Due: none

feat: bump shadcn ui
  package.json
  pnpm-lock.yaml
  src/components/ui/accordion.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/context-menu.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/hover-card.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/popover.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/sonner.tsx
  src/components/ui/switch.tsx
  src/components/ui/table.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toggle.tsx
  src/components/ui/tooltip.tsx
  update-shadcn.sh
Due: none

fix: fix changelist
  src/ui/atoms/commiter-button.tsx
Due: none

feat: bump tauri-plugin-shell to 2.2.1
  package.json
  src-tauri/Cargo.lock
Due: none

ci(ci): auto merge depbot pr
  .github/workflows/depbot_auto_meger.yaml
Due: none

feat: bump dependcies
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/ui/badge.tsx
  src/components/ui/scroll-area.tsx
  src/lib/guide/index.ts
Due: none

feat: bump rust dependcies
  src-tauri/Cargo.lock
Due: none

feat(finalgit): make --testTimeout to 20s
  .github/workflows/test.yml
Due: none

feat: bump rust dependcies
  rust-toolchain.toml
  src-tauri/Cargo.lock
Due: toml

feat: bump nodejs dependcies
  .github/workflows/test.yml
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: none

fix(ui): fix al component
  src/app/[locale]/settings/ui/ai-card.tsx
Due: none

build(pnpm): update
  pnpm-workspace.yaml
Due: none

fix(guide): fix guide drag problem
  src/app/[locale]/guide/page.tsx
Due: none

feat: allow multiple commit panels
  messages/cn.json
  messages/en.json
  src/app/[locale]/main/@history/page.tsx
  src/hooks/use-store.ts
  src/ui/branch/branch-item.tsx
  src/ui/commit/commit-panel.tsx
Due: none

feat: basic
  messages/cn.json
  messages/en.json
  src-tauri/bindings/index.ts
  src-tauri/src/cherry_pick.rs
  src/app/[locale]/layout.tsx
  src/app/[locale]/main/@history/page.tsx
  src/hooks/use-store.ts
  src/ui/cherry-pick/cherry-pick-card.tsx
  src/ui/commit/commit-item.tsx
  src/ui/commit/commit-list.tsx
  src/ui/commit/commit-panel.tsx
Due: rustfmt

feat: update
  messages/cn.json
  messages/en.json
  package.json
  pnpm-lock.yaml
  src-tauri/src/lib.rs
  src/app/[locale]/main/ui/controlbar.tsx
  src/app/[locale]/main/ui/settings-menu.tsx
  src/app/[locale]/settings/git/page.tsx
  src/app/[locale]/settings/layout.tsx
  src/app/[locale]/settings/page.tsx
  src/app/[locale]/settings/ui/ai-card.tsx
  src/app/[locale]/settings/ui/ai-prompt.tsx
  src/app/[locale]/settings/ui/git-core.tsx
  src/app/[locale]/settings/ui/git-user.tsx
  src/app/[locale]/settings/ui/language-card.tsx
  src/app/[locale]/settings/ui/language-link.tsx
  src/app/[locale]/settings/ui/nav.tsx
  src/app/[locale]/settings/ui/panel.tsx
  src/app/[locale]/settings/ui/profile-card.tsx
  src/assets/global.css
  src/ui/atoms/commiter-button.tsx
  src/ui/branch/branch-panel.tsx
  src/ui/change/change-item.tsx
Due: rustfmt

feat(commit): allow reorder commit
  src-tauri/bindings/index.ts
  src-tauri/src/error.rs
  src-tauri/src/rebase.rs
  src/app/[locale]/main/@history/page.tsx
  src/app/[locale]/main/layout.tsx
  src/ui/commit/commit-item.tsx
  src/ui/commit/commit-list.tsx
  src/ui/commit/commit-panel.tsx
Due: rustfmt

feat: alow amend
  src/app/[locale]/main/layout.tsx
  src/ui/change/change-item.tsx
  src/ui/commit/commit-item.tsx
Due: none

feat: add drag-drop
  src/app/[locale]/main/@history/page.tsx
  src/app/[locale]/main/layout.tsx
  src/hooks/use-store.ts
  src/ui/branch/branch-item.tsx
  src/ui/commit/commit-panel-placeholder.tsx
Due: none

feat: allow rename remote
  messages/cn.json
  messages/en.json
  src-tauri/bindings/index.ts
  src-tauri/src/remote.rs
  src/ui/branch/branch-panel.tsx
Due: rustfmt

feat(markdown): render markdown
  package.json
  pnpm-lock.yaml
  src/app/[locale]/filetree/page.tsx
Due: none

feat(filetree): add license preview
  src/app/[locale]/filetree/page.tsx
Due: none

feat(filetree): better filetree
  src/app/[locale]/filetree/page.tsx
  src/assets/codemirror.css
  src/ui/codemirror/theme/shadcn.ts
Due: none

feat(filetree): render markdown
  package.json
  pnpm-lock.yaml
  src/app/[locale]/filetree/page.tsx
Due: none

feat(filetype): support more filetype
  crates/filetype/src/extensions.rs
  crates/filetype/src/lib.rs
  crates/filetype/src/literal.rs
  crates/filetype/tests/filetype.rs
  src/app/[locale]/filetree/page.tsx
Due: rustfmt

feat: remove storyboook
  .github/workflows/test.yml
  .storybook/main.ts
  .storybook/next-intl.ts
  .storybook/preview.tsx
  package.json
  src/app/[locale]/settings/ui/ai-card.stories.tsx
  src/components/ext/autocomplete.stories.tsx
  src/components/ext/collapse-group.stories.tsx
  src/ui/atoms/commiter.stories.tsx
  src/ui/branch/branch-item.stories.tsx
  src/ui/branch/branch-list.stories.tsx
  src/ui/branch/branch-panel.stories.tsx
  src/ui/branch/branch-rename.stories.tsx
  src/ui/change/change-list.stories.tsx
  src/ui/codemirror/blame/blame-card.stories.tsx
  src/ui/codemirror/license/license-card.stories.tsx
  src/ui/commit/commit-card.stories.tsx
  src/ui/commit/commit-item.stories.tsx
  src/ui/main/project.stories.tsx
  src/ui/panels/file-panel.stories.tsx
  src/ui/stash/stash-item.stories.tsx
  src/ui/stash/stash-list.stories.tsx
  src/ui/tag/tag-list.stories.tsx
  src/ui/tag/tagitem.stories.tsx
Due: none

feat: regenerate bindings
  .pre-commit-config.yaml
  src-tauri/bindings/index.ts
  src-tauri/src/lib.rs
Due: rustfmt

feat: bump nextjs to 16
  package.json
  pnpm-lock.yaml
  src/app/[locale]/main/@history/default.tsx
  src/app/[locale]/main/@side/default.tsx
  src/app/[locale]/main/@workspace/default.tsx
  src/ui/branch/branch-item.tsx
  tsconfig.json
Due: none

feat(ai): bump ai sdk
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/[locale]/settings/ui/ai-card.tsx
  src/app/[locale]/settings/ui/ai-card/ollama.tsx
  src/hooks/use-store.ts
  src/lib/ai/index.ts
  src/ui/atoms/commiter-commit.tsx
Due: none

feat(settings): better ai settings
  messages/cn.json
  messages/en.json
  src/app/[locale]/settings/ui/ai-card.tsx
  src/app/[locale]/settings/ui/ai-card/openai-compatible.tsx
  src/app/[locale]/settings/ui/ai-card/openai.tsx
  src/hooks/use-query.ts
  src/hooks/use-store.ts
  src/lib/ai/index.ts
  src/lib/ai/ollama.ts
  src/ui/atoms/commiter-commit.tsx
Due: none
