Repository cathaysia/finalgit: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

rustfmt:
  name: rustfmt
  language: system
  entry: rustfmt --edition 2021

toml:
  name: toml
  language: system
  entry: taplo format

feat(settings): add some function
  src/lib/file_status.ts
  src/routeTree.gen.ts
  src/routes/settings/git.tsx
  src/routes/settings/profile.tsx
  src/stories/settings/Panel.tsx
  src/stories/settings/ThemeCard.tsx
Due: none

feat(settings): add more ai option
  src/lib/state.ts
  src/routes/settings/ai.tsx
  src/stories/settings/AiCard.tsx
Due: none

feat(settings): add hehaviour
  src/routes/settings/profile.tsx
  src/stories/settings/ThemeCard.tsx
Due: none

feat(settings): make ai be card
  src/stories/settings/AiCard.tsx
Due: none

fix(ci): fix release id
  .github/workflows/publish.yml
Due: none

feat(git): add basic git ui
  package.json
  pnpm-lock.yaml
  src/components/ui/select.tsx
  src/routes/settings/git.tsx
  src/stories/settings/AiCard.tsx
  src/stories/settings/GitCore.tsx
  src/stories/settings/GitUser.tsx
Due: none

feat(rust): set and get git config
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/ext.rs
  src-tauri/src/lib.rs
Due: rustfmt

feat(nextjs): better config
  next.config.js
Due: none

feat(app): better settings page
  src/app/settings/ai/page.tsx
  src/app/settings/git/page.tsx
  src/app/settings/layout.tsx
  src/app/settings/page.tsx
  src/stories/settings/AiCard.tsx
  src/stories/settings/Nav.tsx
  src/stories/settings/Panel.tsx
Due: none

feat(profile): allow set prompt
  src/app/settings/ai/page.tsx
  src/lib/ai.ts
  src/lib/state.ts
  src/stories/atoms/Commiter.tsx
  src/stories/settings/AiPrompt.tsx
Due: none

feat(ai): query model
  src/app/settings/layout.tsx
  src/lib/ai.ts
  src/lib/state.ts
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/atoms/Commiter.tsx
  src/stories/settings/AiCard.tsx
  src/stories/settings/AiPrompt.tsx
Due: none

feat: add filetree
  src/app/filetree/layout.tsx
  src/app/filetree/page.tsx
  src/components/Nav.tsx
  src/stories/atoms/ChangeCard.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: none

fix(branch): fix branch problem
  src-tauri/src/ext.rs
Due: rustfmt

feat: better project popmenu
  src/stories/atoms/Project.tsx
Due: none

feat: better notify
  src/app/filetree/layout.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/lib/error.ts
  src/lib/notify.tsx
  src/stories/ErrorSonner.tsx
  src/stories/atoms/Branch.tsx
  src/stories/atoms/ChangeCard.tsx
  src/stories/atoms/Commiter.tsx
  src/stories/atoms/Project.tsx
  src/stories/panels/ControlPanel.tsx
  src/stories/panels/MainPanel.tsx
Due: none

feat(filetree): allow preview text
  package.json
  pnpm-lock.yaml
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src/app/filetree/layout.tsx
  src/app/filetree/page.tsx
  src/lib/state.ts
  src/stories/panels/MainPanel.tsx
Due: rustfmt

feat(codemirror): assume language
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/bindings/index.ts
  src-tauri/src/lib.rs
  src-tauri/src/utils.rs
  src/app/filetree/page.tsx
Due: rustfmt, toml

perf(changecard): fix perference
  src/stories/atoms/ChangeCard.tsx
Due: none

feat: add iconeditem
  src/stories/atoms/IconedItem.tsx
Due: none

ci: enable ci
  .github/workflows/publish.yml
Due: none

fix: fix icon build, redirect to root when filetree is empty
  public/icons
  src/app/filetree/page.tsx
  src/components/icon.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: none

feat: set font family
  src/app/layout.tsx
Due: none

feat(app): restore state
  src/lib/state.ts
Due: none

feat(settings): presist datas
  src/lib/state.ts
Due: none

refactor: make more code async
  src/stories/atoms/Project.tsx
Due: none

feat(change): add more function
  src/stories/atoms/ChangeItem.tsx
  src/stories/atoms/Commiter.tsx
Due: none

refactor(app): simplifer layout
  src/app/layout.tsx
  src/stories/panels/MainPanel.tsx
Due: none

feat(diff): add diff route
  src/app/diff/layout.tsx
  src/app/diff/page.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: none

feat(rs): add stash
  src-tauri/src/lib.rs
  src-tauri/src/stash.rs
Due: rustfmt

feat(stash): allow list stash
  src-tauri/src/stash.rs
Due: rustfmt

feat(stash): export stash function
  src-tauri/bindings/index.ts
  src-tauri/src/lib.rs
  src-tauri/src/stash.rs
Due: rustfmt

feat(stash): add stashcard
  src/stories/atoms/StashCard.tsx
Due: none

feat: add more function
  src-tauri/src/branch.rs
  src-tauri/src/ext.rs
Due: rustfmt

feat: add push/pull function
  src-tauri/bindings/index.ts
  src-tauri/src/lib.rs
  src/lib/state.ts
  src/stories/panels/WorkspacePanel.tsx
Due: rustfmt

fix(app): fix render
  src/app/layout.tsx
  src/app/page.tsx
  src/stories/panels/MainPanel.stories.tsx
  src/stories/panels/MainPanel.tsx
Due: none

feat(branch): impl create branch and rename branch
  src-tauri/src/ext.rs
  src/stories/atoms/Branch.tsx
Due: rustfmt

feat(i18n): add english translation
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
Due: none

feat: allow checkout to commit
  src-tauri/bindings/index.ts
  src-tauri/src/commit.rs
  src-tauri/src/lib.rs
  src/stories/atoms/Tag.tsx
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  toml: any of: \.toml$
