Repository cathaysia/finalgit: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

rustfmt:
  name: rustfmt
  language: system
  entry: rustfmt --edition 2021

toml:
  name: toml
  language: system
  entry: taplo format

fix(parser): fix iso8601
  src/parser/impl/reversion.interp
  src/parser/impl/reversion.tokens
  src/parser/impl/reversionLexer.interp
  src/parser/impl/reversionLexer.tokens
  src/parser/impl/reversionLexer.ts
  src/parser/impl/reversionListener.ts
  src/parser/impl/reversionParser.ts
  src/parser/impl/reversionVisitor.ts
  src/parser/parser.test.ts
  src/parser/parser.ts
  src/parser/reversion.g4
Due: none

feat: support expression
  src/app/main/page.tsx
  src/parser/parser.test.ts
  src/parser/parser.ts
Due: none

fix(parser): fix parser problem
  src/app/main/page.tsx
  src/parser/parser.ts
Due: none

feat(app): better highorder filter
  src/app/main/page.tsx
Due: none

feat(parser): complete parse parse
  src/parser/impl/reversion.interp
  src/parser/impl/reversionParser.ts
  src/parser/parser.test.ts
  src/parser/parser.ts
  src/parser/reversion.g4
Due: none

feat: support exclude
  src/app/main/page.tsx
  src/parser/commitFilter.ts
  src/parser/impl/reversion.interp
  src/parser/impl/reversion.tokens
  src/parser/impl/reversionLexer.interp
  src/parser/impl/reversionLexer.tokens
  src/parser/impl/reversionLexer.ts
  src/parser/impl/reversionListener.ts
  src/parser/impl/reversionParser.ts
  src/parser/impl/reversionVisitor.ts
  src/parser/parser.ts
  src/parser/reversion.g4
Due: none

feat(anmitation): add anmition
  src/app/main/page.tsx
Due: none

refactor(commit): rename hash to oid
  src-tauri/bindings/index.ts
  src-tauri/src/ext.rs
  src-tauri/src/ty.rs
  src/app/main/page.tsx
  src/parser/commitFilter.ts
  src/stories/atoms/CommitItem.stories.tsx
  src/stories/atoms/CommitItem.tsx
  src/stories/lists/GitHistory.tsx
Due: rustfmt

fix(filter): fix filter
  src/parser/commitFilter.test.ts
  src/parser/commitFilter.ts
  src/parser/parser.test.ts
  src/parser/parser.ts
Due: none

fix(parser): fix after
  finalgit.iml
  src/parser/commitFilter.test.ts
  src/parser/commitFilter.ts
  src/parser/impl/reversion.interp
  src/parser/impl/reversion.tokens
  src/parser/impl/reversionLexer.interp
  src/parser/impl/reversionLexer.tokens
  src/parser/impl/reversionLexer.ts
  src/parser/impl/reversionListener.ts
  src/parser/impl/reversionParser.ts
  src/parser/impl/reversionVisitor.ts
  src/parser/parser.ts
  src/parser/reversion.g4
Due: none

refactor(refactor): refactor codes
  src-tauri/src/branch.rs
  src-tauri/src/commit.rs
  src-tauri/src/config.rs
  src-tauri/src/ext.rs
  src-tauri/src/lib.rs
  src-tauri/src/rebase.rs
  src-tauri/src/stash.rs
  src-tauri/src/utils.rs
Due: rustfmt

refactor(tauri): using macro generate codes
  src-tauri/bindings/index.ts
  src-tauri/src/blame.rs
  src-tauri/src/branch.rs
  src-tauri/src/cherry_pick.rs
  src-tauri/src/commit.rs
  src-tauri/src/config.rs
  src-tauri/src/lib.rs
  src-tauri/src/rebase.rs
  src-tauri/src/stage.rs
  src-tauri/src/stash.rs
  src-tauri/src/utils.rs
  src-tauri/tauri_derive/src/lib.rs
Due: rustfmt

style(eslint): fix warning
  eslint.config.js
  src/parser/parser.ts
Due: none

feat: remove dnd
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/stories/atoms/BranchItem.tsx
  src/stories/lists/ChangeList.tsx
  src/stories/lists/GitHistory.tsx
Due: none

feat(tauri): bump tauri from rc to stable
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: toml

feat(rebase): add interactive rebase
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/branch.rs
  src-tauri/src/error.rs
  src-tauri/src/rebase.rs
  src-tauri/tauri_derive/src/lib.rs
Due: rustfmt, toml

refactor: rename some api
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/commit.rs
  src-tauri/src/stage.rs
  src/app/main/page.tsx
  src/lib/operator.ts
  src/lib/query.ts
  src/stories/atoms/BranchItem.tsx
  src/stories/atoms/ChangeItem.tsx
  src/stories/atoms/Commiter.tsx
  src/stories/lists/ChangeList.tsx
Due: rustfmt

fix(branch): fix git verion error
  src-tauri/src/branch.rs
Due: rustfmt

refactor: rename config command
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/config.rs
  src-tauri/src/rebase.rs
  src-tauri/src/utils.rs
  src-tauri/tauri_derive/src/lib.rs
  src/lib/git.ts
  src/stories/atoms/GitSwitch.tsx
Due: rustfmt

feat: add some test
  src-tauri/src/branch.rs
  src-tauri/src/config.rs
Due: rustfmt

feat: allow init state from cmdline
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/bindings/index.ts
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
  src/app/__root.tsx
Due: rustfmt, toml

feat: hidden history when not open repo, add more tauri regon
  src/app/main/page.tsx
  src/stories/atoms/VirtualScrollArea.tsx
Due: none

fix: fix tauri_store problem
  package.json
  pnpm-lock.yaml
  src/lib/state.ts
Due: none

fix: fix stuck on macos
  src-tauri/src/lib.rs
Due: rustfmt

feat(app): ignore app error
  src/lib/git.ts
  src/stories/atoms/GitSwitch.tsx
Due: none

feat(app): don't use debunce for gitswitch
  src/stories/atoms/GitSwitch.tsx
Due: none

feat(app): save language
  src/app/__root.tsx
  src/lib/state.ts
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/atoms/LanguageCard.tsx
Due: none

feat(i18n): update translation
  src/app/settings/git.tsx
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
Due: none

feat(app): using select to change gpg
  src-tauri/bindings/index.ts
  src-tauri/src/utils.rs
  src/stories/settings/GitUser.tsx
Due: rustfmt

feat(app): add useEmoji option
  src/app/settings/page.tsx
  src/lib/state.ts
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/atoms/BranchItem.tsx
  src/stories/atoms/CommitItem.tsx
  src/stories/atoms/HighlightLabel.tsx
Due: none

feat: get avatar from github
  src/lib/gh.ts
  src/stories/atoms/UserAvatar.tsx
Due: none

perf(query): persist query
  package.json
  pnpm-lock.yaml
  src/lib/gh.ts
  src/lib/query.ts
  src/main.tsx
Due: none

feat(app): upgrade dependcies
  package.json
  pnpm-lock.yaml
Due: none

feat: add font
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/routeTree.gen.ts
  tailwind.config.ts
Due: none

feat(src): add bisect interface
  src-tauri/bindings/index.ts
  src-tauri/src/bisect.rs
  src-tauri/src/lib.rs
Due: rustfmt

feat(backend): add revert interface
  src-tauri/bindings/index.ts
  src-tauri/src/commit.rs
Due: rustfmt

feat(b): add get head status op
  src-tauri/bindings/index.ts
  src-tauri/src/head.rs
  src-tauri/src/lib.rs
Due: rustfmt

feat(f): add revert op
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/atoms/CommitItem.tsx
Due: none

feat(f): add bisect op
  src/app/main/page.tsx
  src/lib/query.ts
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/atoms/CommitItem.tsx
  src/stories/atoms/FileItem.tsx
  src/stories/atoms/TagItem.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: none

refactor: remove usesless file
  finalgit.iml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  toml: any of: \.toml$
