Repository cathaysia/finalgit: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

.pre-commit-config.yaml:

# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-format
      additional_dependencies: ["@biomejs/biome@1.8.3"]
    - id: biome-lint
      additional_dependencies: ["@biomejs/biome@1.8.3"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt --edition 2021

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

style(eslint): fix eslint error
  .eslintrc.json
  next.config.js
  package.json
  src/app/filetree/page.tsx
  src/app/layout.tsx
  src/app/main/@commit/page.tsx
  src/lib/ai.ts
  src/lib/file_status.ts
  src/lib/query.ts
  src/lib/state.ts
  src/stories/atoms/BranchItem.tsx
  src/stories/atoms/ControlBar.tsx
  src/stories/atoms/GitOption.tsx
  src/stories/atoms/GitSwitch.tsx
  src/stories/panels/ControlPanel.tsx
  src/stories/panels/MainPanel.tsx
  src/stories/panels/WorkspacePanel.tsx
  src/stories/settings/AiCard.tsx
  src/stories/settings/AiPrompt.tsx
  src/stories/settings/GitCore.tsx
  src/stories/settings/GitUser.tsx
  src/stories/settings/Nav.tsx
  src/stories/settings/Panel.tsx
  src/stories/settings/ThemeCard.tsx
Due: none

feat(shadcn): add hovercard
  package.json
  pnpm-lock.yaml
  src/components/ui/hover-card.tsx
Due: none

fix(app): fix errors
  src/stories/atoms/Commiter.tsx
  src/stories/atoms/StashItem.tsx
Due: none

refactor(app): merge codes
  src/app/__root.tsx
Due: none

refactor(app): rename icon to Icon
  .gitignore
  package.json
  pnpm-lock.yaml
  src/app/language-map.json
  src/components/Icon.tsx
  src/stories/atoms/IconedItem.tsx
  src/stories/panels/FilePanel.tsx
  vite.config.ts
Due: none

feat(app): using route pass commit params
  src/app/filetree/$commit.tsx
  src/app/filetree/page.tsx
  src/lib/query.ts
  src/lib/state.ts
  src/routeTree.gen.ts
  src/stories/atoms/TagItem.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: none

perf(vite): reduce bundle size
  vite.config.ts
Due: none

feat(filetree): allow browse files at point
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/atoms/BranchItem.tsx
  src/stories/atoms/CommitItem.tsx
Due: none

feat(filetree): add context menu
  package.json
  pnpm-lock.yaml
  src/components/ui/context-menu.tsx
  src/stories/panels/FilePanel.tsx
Due: none

refactor(app): better file panel
  src/stories/atoms/FileItem.tsx
  src/stories/panels/FilePanel.tsx
Due: none

feat(app): allow checkout file
  src-tauri/bindings/index.ts
  src-tauri/src/commit.rs
  src-tauri/src/lib.rs
  src/app/filetree/$commit.tsx
  src/stories/atoms/FileItem.tsx
  src/stories/panels/FilePanel.tsx
Due: rustfmt

feat(fileitem): add some option
  src/stories/atoms/FileItem.tsx
Due: none

feat(commit): allow checkout to commit
  src/stories/atoms/CommitItem.tsx
Due: none

feat(codemirror): add decoration example
  package.json
  pnpm-lock.yaml
  src/app/filetree/$commit.tsx
  src/extensions/BoolCheckbox.tsx
Due: none

feat(app): impl copy and copy content
  src/stories/atoms/FileItem.tsx
Due: none

feat(branch): allow click to checkout branch and checkout commit
  src/stories/atoms/BranchItem.tsx
  src/stories/atoms/CommitItem.tsx
Due: none

feat(branch): probe detached head
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src/lib/query.ts
  src/stories/atoms/CommitItem.tsx
  src/stories/atoms/TagItem.tsx
  src/stories/panels/FilePanel.stories.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: rustfmt

feat(commitlist): update commitlist
  src/app/main/page.tsx
  src/stories/atoms/BranchItem.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: none

feat(blame): add blame
  src-tauri/bindings/index.ts
  src-tauri/src/blame.rs
  src-tauri/src/lib.rs
  src-tauri/src/ty.rs
Due: rustfmt

feat(app): add blame plugin
  src-tauri/bindings/index.ts
  src-tauri/src/commit.rs
  src-tauri/src/lib.rs
  src/app/filetree/$commit.tsx
  src/extensions/Blame.tsx
  src/extensions/BlameCard.tsx
  src/lib/query.ts
Due: rustfmt

feat(ai): support gitmoji
  src/lib/state.ts
  src/stories/atoms/Commiter.tsx
  src/stories/settings/AiPrompt.tsx
Due: none

refactor(blame): move blamecard to stories
  src/extensions/Blame.tsx
  src/stories/atoms/BlameCard.stories.tsx
  src/stories/atoms/BlameCard.tsx
Due: none

feat(blame): only show blame for current line
  src/app/filetree/$commit.tsx
  src/extensions/Blame.tsx
  src/extensions/BoolCheckbox.tsx
Due: none

refactor(blame): simplifer blame coed
  src/app/filetree/$commit.tsx
  src/extensions/Blame.tsx
Due: none

feat(blame): using protal
  package.json
  pnpm-lock.yaml
  src-tauri/src/commit.rs
  src/app/filetree/$commit.tsx
  src/extensions/Blame.tsx
  src/stories/atoms/BlameCard.stories.tsx
  src/stories/atoms/BlameCard.tsx
Due: rustfmt

fix(blame): fix blame
  src-tauri/src/blame.rs
Due: rustfmt

feat(app): allow set branch
  src/app/settings/git.tsx
  src/lib/git.ts
  src/stories/atoms/GitOption.tsx
  src/stories/atoms/GitSwitch.tsx
  src/stories/settings/GitCore.tsx
Due: none

feat: add reset author method
  src-tauri/bindings/index.ts
  src-tauri/src/commit.rs
  src-tauri/src/lib.rs
Due: rustfmt

feat: add cherrypick
  src-tauri/bindings/index.ts
  src-tauri/src/cherry_pick.rs
  src-tauri/src/lib.rs
Due: rustfmt

feat: impl commit amend
  src-tauri/bindings/index.ts
  src-tauri/src/commit.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
Due: rustfmt

feat: add rebase info
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/lib.rs
  src-tauri/src/rebase.rs
Due: rustfmt

refactor: auto export to ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/bindings/index.ts
  src-tauri/src/blame.rs
  src-tauri/src/branch.rs
  src-tauri/src/cherry_pick.rs
  src-tauri/src/commit.rs
  src-tauri/src/ext.rs
  src-tauri/src/stage.rs
  src-tauri/src/stash.rs
  src-tauri/tauri_derive/Cargo.lock
  src-tauri/tauri_derive/Cargo.toml
  src-tauri/tauri_derive/src/lib.rs
Due: rustfmt, toml

feat(app): allow filter commit
  src/app/main/page.tsx
  src/stories/atoms/CommitItem.tsx
  src/stories/lists/GitHistory.tsx
Due: none

feat(app): disalbe input spellcheck
  src/app/main/page.tsx
  src/stories/panels/BranchPanel.tsx
Due: none

feat(commit): allow using HEAD~x expression
  src/app/main/page.tsx
Due: none

feat(parser): add reversionParser
  biome.jsonc
  package.json
  pnpm-lock.yaml
  src/app/main/page.tsx
  src/parser/parser.ts
  src/parser/reversion.g4
  src/parser/reversionLexer.ts
  src/parser/reversionListener.ts
  src/parser/reversionParser.ts
  src/parser/reversionVisitor.ts
Due: none

feat(reversionParser): supportm more grammar
  package.json
  pnpm-lock.yaml
  src/parser/Makefile
  src/parser/impl/reversion.interp
  src/parser/impl/reversion.tokens
  src/parser/impl/reversionLexer.interp
  src/parser/impl/reversionLexer.tokens
  src/parser/impl/reversionLexer.ts
  src/parser/impl/reversionListener.ts
  src/parser/impl/reversionParser.ts
  src/parser/impl/reversionVisitor.ts
  src/parser/parser.test.ts
  src/parser/parser.ts
  src/parser/reversion.g4
  src/parser/reversionLexer.ts
  src/parser/reversionListener.ts
  src/parser/reversionParser.ts
  src/parser/reversionRules.g4
  src/parser/reversionVisitor.ts
Due: none

feat(parser): add more listener interface
  src/parser/impl/reversionListener.ts
  src/parser/impl/reversionParser.ts
  src/parser/impl/reversionVisitor.ts
  src/parser/reversion.g4
Due: none

feat(parser): parse ast
  src/parser/impl/reversionListener.ts
  src/parser/impl/reversionParser.ts
  src/parser/impl/reversionVisitor.ts
  src/parser/parser.test.ts
  src/parser/parser.ts
  src/parser/reversion.g4
Due: none
