Repository cathaysia/finalgit: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

.pre-commit-config.yaml:

# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-format
      additional_dependencies: ["@biomejs/biome@1.8.3"]
    - id: biome-lint
      additional_dependencies: ["@biomejs/biome@1.8.3"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt --edition 2021

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

fix(f): fix commit message display
  src/stories/change/diff.tsx
  src/stories/commit/commit-card.tsx
Due: none

feat(diff): add diff cache
  src-tauri/bindings/index.ts
  src-tauri/src/commit.rs
  src/stories/change/change-item.tsx
  src/stories/change/diff.tsx
Due: rustfmt

fix: fix build error
  src-tauri/src/file.rs
Due: rustfmt

fix(commit): fix generate patch
  src/app/[locale]/settings/ui/ai-card.tsx
  src/stories/atoms/commiter-commit.tsx
Due: none

feat(diff): add read_to_string
  src-tauri/bindings/index.ts
  src-tauri/src/file.rs
  src/stories/change/change-item.tsx
  src/stories/change/file_preview.tsx
Due: rustfmt

feat(layout): better controls
  src/stories/atoms/controlbar.tsx
Due: none

refactor(panel): add /main
  src/app/[locale]/filetree/layout.tsx
  src/app/[locale]/main/@commit/page.tsx
  src/app/[locale]/main/@control/page.tsx
  src/app/[locale]/main/@mainpanel/page.tsx
  src/app/[locale]/main/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/ui/main/control.tsx
  src/stories/panels/control-panel.stories.tsx
  src/stories/panels/main-panel.stories.tsx
  src/stories/panels/main-panel.tsx
  src/stories/panels/workspace-panel.stories.tsx
Due: none

feat(controlbar): spin when hover
  src/stories/atoms/controlbar.tsx
Due: none

feat(b): add git clone
  messages/cn.json
  messages/en.json
  package.json
  pnpm-lock.yaml
  src-tauri/bindings/index.ts
  src-tauri/src/error.rs
  src-tauri/src/utils.rs
  src/app/[locale]/main/@control/page.tsx
  src/ui/atoms/project.tsx
  src/ui/main/clone.tsx
  src/ui/main/project.tsx
  src/ui/main/xterm.tsx
Due: rustfmt

feat(xterm): add xterm
  src/lib/use-xterm.ts
  src/ui/main/clone.tsx
  src/ui/main/xterm.tsx
Due: none

fix(stash): hidden when no stash item
  src/ui/change/change-list.tsx
Due: none

feat: use native controls
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/ui/atoms/controlbar.tsx
Due: rustfmt, toml

docs: add mkdocs
  README.md
  docs/filter.md
  docs/index.md
  mkdocs.yml
  requirements.txt
Due: none

ci(docs): auto publish docs
  .github/workflows/docs.yaml
  .gitignore
Due: none

docs: update docs site
  mkdocs.yml
  requirements.txt
Due: none

feat: bump dependencies
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/bindings/index.ts
Due: toml

feat: update settings ui, add sidebar
  components.json
  src/app/[locale]/settings/layout.tsx
  src/app/[locale]/settings/ui/panel.tsx
  src/assets/global.css
  src/components/ui/sidebar.tsx
  src/hooks/use-mobile.tsx
  tailwind.config.ts
Due: none

feat(f): remove select of branch type
  src/ui/atoms/git-option.tsx
  src/ui/branch/branch-rename.tsx
Due: none

feat(clone): update git clone
  package.json
  pnpm-lock.yaml
  src-tauri/bindings/index.ts
  src-tauri/src/utils.rs
  src/lib/use-xterm.ts
  src/lib/use-xterm.tsx
  src/ui/main/clone.tsx
  src/ui/main/project.tsx
Due: rustfmt

refactor: refactor code
  src-tauri/bindings/index.ts
  src/app/[locale]/filetree/page.tsx
  src/app/[locale]/main/@control/page.tsx
  src/ui/branch/branch-item.tsx
  src/ui/branch/branch-panel.stories.tsx
  src/ui/branch/branch-panel.tsx
Due: none

feat: bump deps
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/components/ui/sidebar.tsx
Due: toml

Revert "feat: bump deps"
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/components/ui/sidebar.tsx
Due: toml

fix(language): fix language assume
  src-tauri/src/utils.rs
  src/app/[locale]/filetree/page.tsx
Due: rustfmt

feat: ignore README warn
  src/app/[locale]/filetree/page.tsx
Due: none

fix(ci): fix playwright
  .github/workflows/test.yml
Due: none

refactor(assume-language): refactor assume-language as wasm
  .github/workflows/publish.yml
  .github/workflows/test.yml
  crates/assume-language/Cargo.lock
  crates/assume-language/Cargo.toml
  crates/assume-language/src/lib.rs
  crates/assume-language/src/utils.rs
  crates/assume-language/tests/web.rs
  package.json
  src-tauri/bindings/index.ts
  src-tauri/src/utils.rs
  src/app/[locale]/filetree/page.tsx
Due: rustfmt, toml

feat: better assume_language
  crates/assume-language/Cargo.lock
  crates/assume-language/Cargo.toml
  crates/assume-language/src/complex.rs
  crates/assume-language/src/extensions.rs
  crates/assume-language/src/lib.rs
  crates/assume-language/src/literal.rs
  src/app/[locale]/filetree/page.tsx
Due: rustfmt, toml

feat: rename assume_language to filetype
  crates/filetype/Cargo.lock
  crates/filetype/Cargo.toml
  crates/filetype/README.md
  crates/filetype/src/complex.rs
  crates/filetype/src/extensions.rs
  crates/filetype/src/lib.rs
  crates/filetype/src/literal.rs
  crates/filetype/src/utils.rs
  crates/filetype/tests/web.rs
  package.json
  src/app/[locale]/filetree/page.tsx
Due: rustfmt, toml

feat(shebang): support shebang
  crates/filetype/src/lib.rs
  crates/filetype/src/shebang.rs
Due: rustfmt

feat(filetype): get ft by modeline
  crates/filetype/src/lib.rs
  crates/filetype/src/modline.rs
Due: rustfmt

fix(filetype): fix tmux format
  crates/filetype/src/complex.rs
  crates/filetype/src/lib.rs
Due: rustfmt

ci: update ci
  .github/workflows/test.yml
Due: none

feat(lang): store lang
  src/app/[locale]/settings/ui/language-card.tsx
  src/app/[locale]/settings/ui/language-link.tsx
Due: none

feat(dnd): add dnd
  package.json
  pnpm-lock.yaml
  src/app/[locale]/main/layout.tsx
  src/ui/branch/branch-item.tsx
  src/ui/change/change-item.tsx
Due: none

refactor: remove useless code
  src/app/[locale]/settings/page.tsx
  src/app/[locale]/settings/ui/update-lang.tsx
Due: none
