Repository cathaysia/finalgit: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

.pre-commit-config.yaml:

# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-format
      additional_dependencies: ["@biomejs/biome@1.8.3"]
    - id: biome-lint
      additional_dependencies: ["@biomejs/biome@1.8.3"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt --edition 2021

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

feat: add new interface
  biome.jsonc
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/about.lazy.tsx
  src/routes/commit.tsx
  src/routes/file_content.lazy.tsx
  src/routes/filetree.lazy.tsx
  src/routes/index.lazy.tsx
  src/routes/status.lazy.tsx
  src/stories/ErrorSonner.tsx
  src/stories/FilePanel.stories.tsx
  src/stories/FilePanel.tsx
Due: none

feat(tauri): increase default window size
  src-tauri/tauri.conf.json
Due: none

feat(project): allow current is empty
  src/stories/ControlPanel.tsx
  src/stories/Project.tsx
Due: none

refactor(stories): structure stories
  package.json
  pnpm-lock.yaml
  src/stories/atoms/Branch.stories.tsx
  src/stories/atoms/Branch.tsx
  src/stories/atoms/ChangeCard.stories.tsx
  src/stories/atoms/ChangeCard.tsx
  src/stories/atoms/Commiter.stories.tsx
  src/stories/atoms/Commiter.tsx
  src/stories/atoms/Project.stories.tsx
  src/stories/atoms/Project.tsx
  src/stories/atoms/Tag.stories.tsx
  src/stories/atoms/Tag.tsx
  src/stories/lists/BranchList.stories.tsx
  src/stories/lists/BranchList.tsx
  src/stories/lists/TagList.stories.tsx
  src/stories/lists/TagList.tsx
  src/stories/panels/BranchPanel.stories.tsx
  src/stories/panels/BranchPanel.tsx
  src/stories/panels/ControlPanel.stories.tsx
  src/stories/panels/ControlPanel.tsx
  src/stories/panels/FilePanel.stories.tsx
  src/stories/panels/FilePanel.tsx
  src/stories/panels/MainPanel.stories.tsx
  src/stories/panels/MainPanel.tsx
  src/stories/panels/WorkspacePanel.stories.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: none

fix(stories): fix align
  src/routes/__root.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: none

feat(panels): open repo
  src/stories/atoms/Project.tsx
Due: none

feat: impl some function
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/ext.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
  src-tauri/src/state/branch.rs
  src-tauri/src/state/commits.rs
  src-tauri/src/state/files.rs
  src-tauri/src/state/tag.rs
  src-tauri/src/utils.rs
  src/lib/state.ts
  src/stories/atoms/Branch.tsx
  src/stories/atoms/Project.tsx
  src/stories/atoms/Tag.tsx
  src/stories/lists/TagList.tsx
  src/stories/panels/BranchPanel.tsx
  src/stories/panels/ControlPanel.tsx
Due: rustfmt

feat: add changes
  index.html
  src/lib/state.ts
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/routes/__root.tsx
  src/stories/atoms/Branch.tsx
  src/stories/panels/MainPanel.tsx
Due: none

feat: add filetree
  src-tauri/src/ext.rs
  src/lib/state.ts
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/panels/MainPanel.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: rustfmt

feat(app): better panel
  src/stories/atoms/Branch.tsx
  src/stories/atoms/BranchRename.tsx
  src/stories/panels/ControlPanel.tsx
  src/stories/panels/MainPanel.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: none

feat: better branchpanel
  package.json
  pnpm-lock.yaml
  src/stories/panels/BranchPanel.tsx
Due: none

feat(git): allow checkout remote
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src/stories/atoms/Branch.tsx
Due: rustfmt

feat(rs): add add/remove file
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/ext.rs
  src-tauri/src/lib.rs
Due: rustfmt

refactor: remove useless code
  src-tauri/src/lib.rs
  src-tauri/src/tag.rs
  src/stories/panels/WorkspacePanel.tsx
Due: rustfmt

feat: better ui
  package.json
  pnpm-lock.yaml
  src/components/ui/label.tsx
  src/stories/atoms/Branch.tsx
  src/stories/panels/BranchPanel.tsx
Due: none

fix(branch): fix branch filter
  src/stories/panels/BranchPanel.tsx
Due: none

feat: rename to finalgit, fix dark mode
  index.html
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/lib/style.ts
  src/stories/atoms/Branch.tsx
  src/stories/atoms/Project.tsx
  src/stories/lists/BranchList.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: rustfmt, toml

docs(docs): update README
  README.md
Due: none

feat: use csd
  src-tauri/capabilities/default.json
  src-tauri/tauri.conf.json
  src/stories/panels/ControlPanel.tsx
  src/stories/panels/MainPanel.tsx
Due: none

feat: add necessary tauri plugin
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/branch.rs
  src-tauri/src/ext.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  tailwind.config.js
Due: rustfmt, toml

feat(error): print js error to console
  biome.jsonc
  src-tauri/capabilities/default.json
  src/stories/ErrorSonner.tsx
  src/stories/atoms/ChangeCard.tsx
  src/stories/panels/ControlPanel.tsx
Due: none

feat: impl commit
  package.json
  pnpm-lock.yaml
  src-tauri/bindings/index.ts
  src-tauri/capabilities/default.json
  src-tauri/src/branch.rs
  src-tauri/src/ext.rs
  src-tauri/src/lib.rs
  src/App.tsx
  src/components/ui/button.tsx
  src/components/ui/form.tsx
  src/lib/state.ts
  src/stories/atoms/ChangeCard.tsx
  src/stories/atoms/ChangeItem.tsx
  src/stories/atoms/Commiter.tsx
  src/stories/panels/MainPanel.tsx
  src/stories/panels/WorkspacePanel.tsx
Due: rustfmt

fix(build): fix ts build error
  src/components/editBranch.tsx
  src/components/editTag.tsx
  src/lib/state.ts
  src/stories/atoms/Commiter.stories.tsx
  src/stories/atoms/Project.stories.tsx
  src/stories/panels/ControlPanel.stories.tsx
  src/stories/panels/MainPanel.stories.tsx
  src/stories/panels/WorkspacePanel.stories.tsx
Due: none

refactor: reimpl commiter
  src/lib/state.ts
  src/stories/atoms/ChangeCard.tsx
  src/stories/atoms/ChangeItem.tsx
  src/stories/atoms/Commiter.tsx
Due: none

feat(app): reimpl commit
  src/lib/file_status.ts
  src/lib/state.ts
  src/stories/atoms/ChangeCard.tsx
  src/stories/atoms/ChangeItem.tsx
  src/stories/atoms/Commiter.stories.tsx
  src/stories/atoms/Commiter.tsx
Due: none

fix(git): fix unstage
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/ext.rs
  src-tauri/src/lib.rs
  src/stories/atoms/ChangeCard.tsx
  src/stories/atoms/Commiter.tsx
Due: rustfmt

feat: allow generate patch
  src-tauri/bindings/index.ts
  src-tauri/capabilities/default.json
  src-tauri/src/branch.rs
  src-tauri/src/error.rs
  src-tauri/src/ext.rs
  src-tauri/src/lib.rs
  src/lib/state.ts
  src/stories/atoms/Commiter.tsx
Due: rustfmt

feat(commiter): generate commit comment by ai
  package.json
  pnpm-lock.yaml
  src/lib/ai.ts
  src/stories/atoms/Commiter.tsx
Due: none

feat: auto refresh status
  package.json
  pnpm-lock.yaml
  src-tauri/bindings/index.ts
  src-tauri/src/lib.rs
  src-tauri/src/utils.rs
  src/App.tsx
  src/lib/state.ts
  src/routes/__root.tsx
  src/stories/atoms/ChangeItem.tsx
  src/stories/panels/MainPanel.tsx
Due: rustfmt

feat: add commit history
  src-tauri/bindings/index.ts
  src-tauri/src/branch.rs
  src-tauri/src/ext.rs
  src-tauri/src/lib.rs
  src/stories/atoms/Commit.tsx
  src/stories/lists/GitHistory.tsx
  src/stories/panels/MainPanel.tsx
Due: rustfmt

feat(history): better avatar
  package.json
  pnpm-lock.yaml
  src/lib/stringColor.ts
  src/stories/atoms/Commit.tsx
  src/stories/atoms/Gravatar.tsx
  src/stories/atoms/Tag.tsx
Due: none

fix(filetime): fix filetime problem
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/utils.rs
Due: rustfmt, toml

refactor: better commit
  src-tauri/capabilities/default.json
  src/stories/atoms/Commit.stories.tsx
  src/stories/atoms/Commit.tsx
  src/stories/atoms/Commiter.tsx
  src/stories/atoms/UserAvatar.stories.tsx
  src/stories/atoms/UserAvatar.tsx
Due: none

feat(avatar): better avatar
  src/stories/atoms/UserAvatar.tsx
Due: none

ci(github): setup release
  .github/workflows/publish.yml
Due: none

fix(clipboard): fix permission
  src-tauri/capabilities/default.json
Due: none

feat(route): only show route devtool in dev
  src/routes/__root.tsx
Due: none

feat: add notify component
  src/lib/notify.tsx
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/atoms/Commit.tsx
Due: none

feat(app): add some action
  src/stories/atoms/ChangeItem.tsx
  src/stories/atoms/Commit.tsx
Due: none

feat: add settings
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/index.tsx
  src/routes/settings.tsx
  src/routes/settings/ai.tsx
  src/stories/atoms/ControlBar.tsx
  src/stories/panels/ControlPanel.tsx
  src/stories/settings/Nav.tsx
  src/stories/settings/Panel.tsx
Due: none
