Repository cathaysia/finalgit: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

.pre-commit-config.yaml:

# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-format
      additional_dependencies: ["@biomejs/biome@1.8.3"]
    - id: biome-lint
      additional_dependencies: ["@biomejs/biome@1.8.3"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt --edition 2021

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

fix(branch): fix ui
  src-tauri/src/branch.rs
  src/app/ui/main/commit.tsx
  src/locales/en_US/copy-button.json
  src/locales/en_US/license-card.json
  src/locales/en_US/translation.json
  src/locales/zh_CN/copy-button.json
  src/locales/zh_CN/license-card.json
  src/locales/zh_CN/translation.json
  src/stories/branch/barnch-panel.tsx
  src/stories/panels/workspace-panel.tsx
Due: rustfmt

feat(ext): add autocomplete
  package.json
  pnpm-lock.yaml
  src/components/ext/autocomplete.stories.tsx
  src/components/ext/autocomplete.tsx
Due: none

feat: disable start commit by branch
  src/stories/atoms/commiter-button.tsx
Due: none

feat(ext): add copy-button
  src/components/ext/copy-button.tsx
Due: none

feat: allow create branch
  src/stories/branch/barnch-panel.tsx
Due: none

feat(f): better tag item
  src/stories/tag/tag-list.tsx
  src/stories/tag/tagitem.tsx
Due: none

fix(commit): fix commit item overflow
  src/stories/commit/commit-item.tsx
Due: none

feat(commit): hidden icons when container too small
  src/stories/commit/commit-item.tsx
Due: none

fix(commit): fix icon align problem
  src/stories/commit/commit-item.tsx
Due: none

feat(b): modify rust build parameters
  src-tauri/Cargo.toml
Due: toml

feat(stage): add ignore file and add to gitignore menuitem
  src/locales/en_US/stage.json
  src/locales/en_US/translation.json
  src/locales/index.ts
  src/locales/zh_CN/stage.json
  src/locales/zh_CN/translation.json
  src/stories/change/change-item.tsx
Due: none

refactor(i18n): better i18n
  package.json
  pnpm-lock.yaml
  src/app/locales/[lng]/[ns]/route.ts
  src/locales/index.ts
  src/stories/atoms/language-card.tsx
Due: none

fix(i18n): fix message
  src/locales/en_US/translation.json
  src/locales/zh_CN/translation.json
  src/stories/branch/branch-item.tsx
Due: none

Revert "feat(commit): hidden icons when container too small"
  src/stories/commit/commit-item.tsx
Due: none

feat: bump deps
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: toml

feat: add next-intl
  messages/en.json
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/[locale]/filetree/layout.tsx
  src/app/[locale]/filetree/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/locales/[lng]/[ns]/route.ts
  src/app/[locale]/page.tsx
  src/app/[locale]/settings/ai/page.tsx
  src/app/[locale]/settings/git/page.tsx
  src/app/[locale]/settings/layout.tsx
  src/app/[locale]/settings/page.tsx
  src/app/[locale]/settings/ui/ai-card.stories.tsx
  src/app/[locale]/settings/ui/ai-card.tsx
  src/app/[locale]/settings/ui/ai-prompt.tsx
  src/app/[locale]/settings/ui/git-core.tsx
  src/app/[locale]/settings/ui/git-user.tsx
  src/app/[locale]/settings/ui/nav.tsx
  src/app/[locale]/settings/ui/panel.tsx
  src/app/[locale]/settings/ui/theme-card.tsx
  src/app/[locale]/ui/app.tsx
  src/app/[locale]/ui/main/commit.tsx
  src/app/[locale]/ui/main/control.tsx
  src/app/[locale]/ui/mui/mui-theme-provider.tsx
  src/app/[locale]/ui/mui/shad-Theme.ts
  src/app/[locale]/ui/mui/shadows.ts
  src/app/[locale]/ui/query-provider.tsx
  src/app/layout.tsx
  src/i18n/index.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/middleware.ts
Due: none

refactor: replace i18next by intl
  src/app/[locale]/settings/git/page.tsx
  src/app/[locale]/settings/page.tsx
  src/app/[locale]/settings/ui/ai-card.tsx
  src/app/[locale]/settings/ui/ai-prompt.tsx
  src/app/[locale]/settings/ui/git-core.tsx
  src/app/[locale]/settings/ui/git-user.tsx
  src/app/[locale]/settings/ui/panel.tsx
  src/app/[locale]/settings/ui/theme-card.tsx
  src/app/[locale]/ui/main/commit.tsx
  src/components/ext/copy-button.tsx
  src/stories/atoms/controlbar.tsx
  src/stories/atoms/fileitem.tsx
  src/stories/atoms/language-card.tsx
  src/stories/atoms/project.tsx
  src/stories/bisect/bisect-card.tsx
  src/stories/branch/barnch-panel.tsx
  src/stories/branch/branch-item.tsx
  src/stories/branch/branch-rename.tsx
  src/stories/change/change-item.tsx
  src/stories/codemirror/license/license-card.tsx
  src/stories/commit/commit-item.tsx
  src/stories/commit/hover-avatar.tsx
  src/stories/panels/control-panel.tsx
  src/stories/panels/workspace-panel.tsx
  src/stories/rebase/rebase-card.tsx
  src/stories/stash/stash-item.tsx
  src/stories/tag/tagitem.tsx
Due: none

feat: remove i18next
  .storybook/i18n.tsx
  package.json
  pnpm-lock.yaml
  src/app/[locale]/locales/[lng]/[ns]/route.ts
  src/app/[locale]/ui/app.tsx
  src/locales/index.ts
  src/stories/atoms/commiter-button.tsx
  src/stories/atoms/commiter-commit.tsx
  src/stories/atoms/language-card.tsx
Due: none

feat: ssg
  global.d.ts
  i18next-parser.config.js
  messages/cn.json
  messages/en.json
  next.config.ts
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/i18n/index.ts
  src/i18n/routing.ts
  src/locales/en_US/copy-button.json
  src/locales/en_US/license-card.json
  src/locales/en_US/stage.json
  src/locales/en_US/translation.json
  src/locales/zh_CN/copy-button.json
  src/locales/zh_CN/license-card.json
  src/locales/zh_CN/stage.json
  src/locales/zh_CN/translation.json
  src/middleware.ts
  src/stories/atoms/commiter-button.tsx
  src/stories/bisect/bisect-card.tsx
  src/stories/codemirror/license/license-card.tsx
Due: none

fix(f): fix ssg page
  messages/cn.json
  messages/en.json
  src/app/[locale]/filetree/page.tsx
  src/app/[locale]/settings/ui/nav.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/na.tsx
  src/middleware.ts
  src/stories/atoms/controlbar.tsx
  src/stories/atoms/language-card.tsx
  src/stories/branch/branch-item.tsx
  src/stories/codemirror/license/license-card.tsx
  src/stories/commit/commit-card.tsx
  src/stories/commit/commit-item.tsx
  src/stories/panels/control-panel.tsx
  src/stories/panels/workspace-panel.tsx
Due: none

feat(i18n): update trans
  messages/cn.json
  src/stories/commit/hover-avatar.tsx
Due: none

fix(storybook): fix storybook
  .storybook/i18n.tsx
  .storybook/main.ts
  .storybook/next-intl.ts
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
Due: none

ci(github): add test
  .github/workflows/test.yml
Due: none

ci(storybook): add storybook test
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/components/ext/collapse-group.stories.tsx
Due: none

feat(storybook): update stories
  .storybook/main.ts
  src/stories/branch/branch-list.stories.tsx
  src/stories/branch/branch-panel.stories.tsx
  src/stories/tag/tag-list.stories.tsx
Due: none

feat: bump react version to 19
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/app/[locale]/filetree/page.tsx
  src/components/ext/collapse-group.stories.tsx
  src/hooks/state.ts
  src/stories/branch/branch-list.stories.tsx
  src/stories/branch/branch-panel.stories.tsx
  src/stories/commit/commit-list.tsx
  src/stories/tag/tag-list.stories.tsx
  src/stories/tag/tagitem.tsx
Due: none

perf(b): avoid stuck ui
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/bisect.rs
  src-tauri/src/blame.rs
  src-tauri/src/commit.rs
  src-tauri/src/config.rs
Due: rustfmt, toml

feat: make more function be async, don't checkout if worktree is not clean
  src-tauri/src/branch.rs
  src-tauri/src/commit.rs
  src-tauri/src/head.rs
  src-tauri/src/rebase.rs
  src-tauri/src/remote.rs
  src-tauri/src/stage.rs
  src-tauri/src/stash.rs
  src-tauri/src/statistics.rs
Due: rustfmt

refactor: refactor code
  src-tauri/bindings/index.ts
  src-tauri/src/blame.rs
  src-tauri/src/branch.rs
  src-tauri/src/commit.rs
  src-tauri/src/config.rs
  src-tauri/src/file.rs
  src-tauri/src/head.rs
  src-tauri/src/lib.rs
  src-tauri/src/stash.rs
  src/app/[locale]/filetree/page.tsx
  src/app/[locale]/ui/main/commit.tsx
  src/hooks/query.ts
  src/lib/git.ts
  src/lib/operator.ts
  src/stories/atoms/commiter-button.tsx
  src/stories/atoms/commiter-commit.tsx
  src/stories/atoms/fileitem.tsx
  src/stories/atoms/git-switch.tsx
  src/stories/atoms/project.tsx
  src/stories/branch/barnch-panel.tsx
  src/stories/branch/branch-item.tsx
  src/stories/panels/workspace-panel.tsx
Due: rustfmt

feat(file): add add to ignore/exclude api
  src-tauri/Cargo.toml
  src-tauri/bindings/index.ts
  src-tauri/src/file.rs
Due: rustfmt, toml

feat(file): add add to ignore/exclude api
  messages/cn.json
  messages/en.json
  src-tauri/Cargo.toml
  src-tauri/bindings/index.ts
  src-tauri/src/file.rs
  src/stories/change/change-item.tsx
Due: rustfmt, toml

feat(file): add add to ignore/exclude api
  messages/cn.json
  messages/en.json
  src-tauri/src/file.rs
  src/stories/change/change-item.tsx
Due: rustfmt

fix(lang): fix lang card
  src/stories/atoms/language-card.tsx
Due: none

fix(f): fix language
  .pre-commit-config.yaml
  src/app/[locale]/settings/page.tsx
  src/app/[locale]/settings/ui/language-card.tsx
  src/app/[locale]/settings/ui/profile-card.tsx
  src/app/[locale]/settings/ui/theme-card.tsx
  src/app/[locale]/settings/ui/update-lang.tsx
  src/hooks/state.ts
Due: none

fix(f): fix markdown button
  src/stories/commit/commit-card.tsx
Due: none

feat(b): add more diff function
  src-tauri/bindings/index.ts
  src-tauri/src/commit.rs
  src/stories/atoms/commiter-button.tsx
  src/stories/atoms/commiter-commit.tsx
Due: rustfmt

feat(f): show file diff when hover
  src/stories/change/change-item.tsx
  src/stories/change/diff.tsx
Due: none

feat: add commit changes
  src-tauri/bindings/index.ts
  src-tauri/src/commit.rs
  src/hooks/query.ts
  src/stories/change/change-item.tsx
  src/stories/change/diff.tsx
  src/stories/commit/commit-card.tsx
Due: rustfmt

feat(f): better commit-card
  src/stories/commit/commit-card.stories.tsx
  src/stories/commit/commit-card.tsx
  src/stories/commit/commit-item.tsx
Due: none
